body { 
    background-color: gold;
    overflow: hidden;
}

#allLevels {
    width: 500px;
    margin: 0 auto;
    background-color: grey;
    padding: 10px;
}

.row {
    text-align: center;
}

.level {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: goldenrod;
    margin: 5px;
    font-size: 70px;
    font-family: 'Bangers', cursive;
}

.level:hover {
    outline: 2px solid black;
    background-color: yellow;
}

#ndlLogoDiv {
    float: left;
    border: 4px solid white;
    width: 450px;
    height: 450px;
}

#snakeLogoDiv {
    float: right;
    border: 4px solid white;
    width: 450px;
    height: 450px;
}

#allGames {
    width: 1500px;
    height: 170px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#allGamsP {
    color: black;
    font-size: 85px;
    font-family: 'Bangers', cursive;
}

#gameScreen {
    display: none;
    background-color: black;
    border: 3px solid white;
}